@import "tailwindcss";

body {
  font-family: "General Sans", sans-serif;
  width: 100dvw;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "911porschav3";
    src: url("/fonts/911porschav3.ttf") format("truetype");
  }

  @font-face {
    font-family: "911porschav3-bold";
    src: url("/fonts/911porschav3bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "911porschav3-cond";
    src: url("/fonts/911porschav3cond.ttf") format("truetype");
  }

  @font-face {
    font-family: "911porschav3-expand";
    src: url("/fonts/911porschav3expand.ttf") format("truetype");
  }
  @font-face {
    font-family: "911porschav3-expand-italic";
    src: url("/fonts/911porschav3expandital.ttf") format("truetype");
  }
  @font-face {
    font-family: "911porschav3-italic";
    src: url("/fonts/911porschav3ital.ttf") format("truetype");
  }
  @font-face {
    font-family: "911porschav3-bold-italic";
    src: url("/fonts/911porschav3boldital.ttf") format("truetype");
  }
  @font-face {
    font-family: "911porschav33ditalic";
    src: url("/fonts/911porschav33dital.ttf") format("truetype");
  }

  @font-face {
    font-family: "Tekur";
    src: url("/fonts/tekur.ttf") format("truetype");
  }
}

@theme {
  --font-porsche-regular: "911porschav3", "sans-serif";
  --font-porsche-bold: "911porschav3-bold", "sans-serif";
  --font-porsche-cond: "911porschav3-cond", "sans-serif";
  --font-porsche-expand: "911porschav3-expand", "sans-serif";
  --font-porsche-expand-italic: "911porschav3-expand-italic", "sans-serif";
  --font-porsche-italic: "911porschav3-italic", "sans-serif";
  --font-porsche-bold-italic: "911porschav3-bold-italic", "sans-serif";
  --font-porsche-italic-3d: "911porschav33ditalic", "sans-serif";
  --font-tekur: "Tekur", "sans-serif";

  --color-red-dark: #ff1a1a;
  --color-red-dark-50: #c55e5e;
}

@utility special-font {
  b {
    font-family: var(--font-porsche-italic-3d);
    font-feature-settings: "ss01" on;
    @apply font-thin text-6xl text-white dark:text-red-dark;
  }
}

@utility border-hsla {
  @apply border border-white/20;
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility bento-tilt_1 {
  @apply relative border-hsla col-span-2 overflow-hidden rounded-md 
    transition-transform duration-300 ease-out;
}

@layer utilities {
  /* Clases personalizadas que combinan utilidades con @apply */
  .nav-hover-btn {
    @apply relative ms-10 text-xs uppercase text-blue-50 
      after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full 
      after:origin-bottom-right after:scale-x-0 after:bg-blue-50
      after:transition-transform after:duration-300 
      after:ease-[cubic-bezier(0.65_0.05_0.36_1)]
      hover:after:origin-bottom-left hover:after:scale-x-100 
      dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-black rounded-lg border;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .hero-heading {
    @apply font-porsche-expand-italic font-normal text-8xl text-right;
    line-height: 0.65 !important; /* Menor interlineado vertical */
  }

  .about-subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 
      text-center text-lg md:max-w-[34rem];
  }

  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center 
      -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white 
      sm:px-32 md:text-[6rem];
  }

  /* .animated-word {
    @apply special-font font-zentry font-black opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  } */

  .bento-tilt_2 {
    @apply relative col-span-1 row-span-1 overflow-hidden rounded-md 
      transition-transform duration-300 ease-out;
  }

  .bento-title {
    @apply uppercase md:text-6xl text-4xl font-black;
  }

  .story-img-container {
    @apply relative md:h-dvh h-[90vh] w-full;
    filter: url("#flt_tag");
  }

  .story-img-mask {
    @apply absolute left-0 top-0 size-full overflow-hidden 
      md:left-[20%] md:top-[-10%] md:size-4/5;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
  }

  .story-img-content {
    @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 
      md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
  }

  .gallery-img-container {
    @apply size-64 overflow-hidden bg-violet-300;
  }

  .gallery-img {
    @apply size-full bg-cover;
  }

  .gallery-img-4 {
    @apply sm:size-80 md:h-96 md:w-[25rem] rounded-lg;
  }

  .sword-man-clip-path {
    clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
  }

  .contact-clip-path-1 {
    clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
  }

  .contact-clip-path-2 {
    clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
  }

  .tight-leading {
    line-height: 0.7 !important; /* ajusta aún más si es necesario */
  }

  .word-spacing-close {
    word-spacing: -0.15em; /* acerca más la palabra 'THE' a 'ULTIMATE' */
  }

  .refreshing-margin-right {
    margin-right: 2rem; /* margen derecho a "REFRESHING" */
  }

  .ride-closer {
    margin-top: -1rem; /* acerca "RIDE" a "REFRESHING" */
  }
}
